/* Base color */
:root {


  --grid-container: 1280px;



  --black: #000000;
  --white:#FFFFFF;
  --light-blue: #CDEEE7;
  --pink: #F19595;
  --grey: #D9D9D9;
  --yellow-border:#FFE9AC;
  --light-yellow:#FFF4D6;
  --input-border:#F5F5F5 ;
  --placeholder: #C3C3C3;

  --gradient: rgba(255, 255,255,0);
  --shadow: rgba(0, 0, 0, 0.25);
}
