//    GENERAL

footer {
  font-size: 0.75em;  //12px
  border-top: 1px solid var(--grey);

  .legal_infos, .main_footer_content {
    max-width: 1415px;
  }
  .legal_infos{
    margin-bottom: 1.666666666666667em;  //20px
  }

  .legal_infos p {
    max-width: 50em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer_adress {
    .name_logo_footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 0.5em;  //6px
    }

    .footer_adress_title {
      margin-left: 0;
      margin-right: 0;
      font-family: "Sulphur Point", sans-serif;
      font-weight: 600;
    }

    p {
      margin-top: 0.5625em;  //9px
    }
  }

  .footer_partners {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer_contact_button {
    border-radius: 68px;
    display: block;
    background-color: var(--light-blue);
    padding: 0.8125em 3.21875em;  //13px  51.5px
    box-shadow: 0 1px 7px var(--shadow);
    max-width: 200px;
    &:hover,
    &:focus{
      transition: 0.5s;
      box-shadow: 0 1px 10px var(--pink);
    }
  }
}




//    MOBILE & TABLET

@media (max-width: 1199px) {
  .main_footer_content {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer_contact_button {
    display: block;
    margin-top: 2.857142857142857em;  //40px
    margin-bottom: 2.857142857142857em;  //40px
    margin-left: auto;
    margin-right: auto;
  }
  .footer_adress {
    margin: 2.857142857142857em 0;  //40px 0
    text-align: center;
  }
  .footer_adress_title, .footer_partners p, .legal_infos p{
    font-size: 1.142857142857143em;  //16px;
  }
  .footer_partners{
    gap: 0.75em;  // 9px;
  }
  .legal_infos p, .footer_adress, .footer_partners p, .footer_contact_button{
    font-size: 1.166666666666667em;  //14px
  }
}


//    DESKTOP
@media (min-width: 1200px) {
  .main_footer_content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1234px;
    padding-right: 2em;  //24px
    padding-left: 2em;  //24px
    padding-top: 4em;  //48px
    margin-bottom: 4em;  //48px
    margin-left: auto;
    margin-right: auto;
  }
  .footer_contact_button {
    margin-left: 0;
    margin-right: 0;
  }
  .footer_adress {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer_partners p, .legal_infos p, .footer_adress p, .footer_contact_button{
    font-size: 1.333333333333333em;  //16px
  }
  .footer_adress_title {
    font-size: 1.666666666666667em;  //20px
  }
  .footer_partners{
    gap: 1.333333333333333em;  //16px
  }
  .legal_infos{
    margin-left: auto;
    margin-right: auto;
  }
}


/*  screenreader only */
.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
