//    GENERAL

/*    animation des liens   */
.nav__link__header_top, .nav__link__header__bottom {
  &:hover,
  &:focus{
    transition: 0.5s;
    box-shadow: 0 4px 0 var(--pink);
  }
}


.header {
  z-index: 10;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background-color: var(--white);
  box-shadow: 0 1px 5.1px rgba(0, 0, 0, 0.2);
}

.le_vieux_moulin_logo_title{
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.25em;  //20px
}


//    MOBILE & TABLET
@media (max-width: 1199px) {
  .nav__item__header_top, .nav__item__header__bottom {
    position: relative;
    font-size: 1.25em;  //20px;
    margin-bottom: 1.6em;  //32px;
    text-align: center;
    font-weight: 400;
    font-family: "Sulphur Point", sans-serif;
  }
  .nav__item__header__bottom:first-of-type{
    margin-top: 2.5em;  //50px
  }

  #burger_menu, .burger_menu{
    grid-area: burger;
    justify-self: end;
  }
  .nav__header h2, .logo_link, .skip{
    grid-area: logo;
  }
  .nav__container__header__top {
    grid-area: secondmenu;
  }
.nav__container__header__bottom {
    grid-area: menu;
  }
  .nav__header{
    align-items: center;
    display: grid;
    grid-template-areas: "logo burger"
          "menu menu "
          "secondmenu secondmenu ";
    grid-gap: 1fr;
    justify-content: space-between;
  }
  .nav__item__header a{
    color: var(--dark-violet);
  }
  .header{
    min-height: 28px;  //28px
    padding: 1.3125em 1.5em;  //21px 24px
  }
  header{
    width: calc(100% - 37px); /* Full width */
  }
  .nav__header > input:not(:checked) ~ .nav__container__header__top, input[type="checkbox"], .nav__header > input:not(:checked) ~ .nav__container__header__bottom {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  /* BURGER Menu*/
  input[type="checkbox"]:checked ~ .nav__header {
    left: 0
  }

  /*Animation du X dans le Burger */
  .burger_menu path {
    transition: all .25s;
    overflow: auto;
  }
  input[type="checkbox"]:checked ~ .burger_menu {
    path:first-of-type {
      transform-origin: center;
      transform: rotate(45deg) translateY(calc(50% - 2px));
    }
    path:nth-of-type(2) {
      transform-origin: center;
      transform: scale(0);
    }
    path:last-of-type {
      transform-origin: center;
      transform: rotate(-45deg) translateY(calc(-50% + 2px));
    }
  }
  .facebook_container{
    text-align: center;
    margin-bottom: 9.1875em;  //147px
  }
}


//    DESKTOP

@media (min-width: 1200px) {
  #burger_menu, .burger_menu {
    display: none;
  }
  .header {
    width: 100%;
  }
  .logo_link{
    margin-left: 1.5em;  //24px;
    display: flex;
    gap: 0.5em;  //8px
    align-items: center;
    margin-top: 0.8125em;  //13px;
  }
  .nav__header{
    margin-top: 0.75em;  //12px;
    margin-bottom: 0.75em;  //12px;
    max-width: 1415px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-areas: "burger menu"
                          "logo secondmenu";
    grid-gap: 1fr;
    justify-content: space-between;
  }

  #burger_menu, .burger_menu{
    grid-area: burger;
    justify-self: start;
  }
  .nav__header h2, .logo_link, .skip{
    grid-area: logo;
  }
  .nav__container__header__top {
    grid-area: menu;
    padding-right: 1.5em;  //24px;
  }
  .nav__container__header__bottom {
    grid-area: secondmenu;
    padding-right: 1.2em;  //24px;
  }
  .nav__container__header__bottom, .nav__container__header__top{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-family: "Sulphur Point", sans-serif;
}
  .nav__container__header__top{
    font-size: 1em;  //16px;
    grid-column: 1/3;
    border-bottom: 1px solid var(--grey);
    gap: 1.875em; //30px
  }
  .nav__container__header__bottom{
    font-size: 1.25em;  //20px;
    margin-top: 0.65em;  //13px;
    gap: 1.5em;  //30px
  }
}