.big{
  font-weight: 600;
}
.privacy_title{
  font-weight:600;
  color:var(--dark-violet);
  text-align:center;
}
.update{
  text-align:center;
}
.identity__title, .hosting__title, .intellectual_property__title, .privacy_extern_links__title, .personal_data__title {
  font-weight: 600;
  max-width: 1200px;
  color: var(--dark-violet);
}
.privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;

  p, a {
    line-height: 170%;
  }
  .hosting_text p{
    display:inline-block;
    margin-right: 0;
    margin-left: 0;
  }
  .hosting_text{
    padding:0 0;
  }
  .hosting a{
    font-weight: 600;
    color:var(--dark-violet);
  }
}



/*    MOBILE & TABLET    */

@media (max-width: 1199px){
  .privacy_title{
    margin-top: 3.25em;  //130px
    font-size: 2.5em;  //40px
    margin-bottom: 0.6em;  //24px
  }
  .update{
    font-size: 1.5em;  //24px
  }
  .identity__title, .hosting__title, .intellectual_property__title, .privacy_extern_links__title, .personal_data__title{
    font-size: 1.5em;  // 24px
    margin: 1.666666666666667em 1em 0.666666666666667em;  //40px auto 16px
/*    margin-left: 1em;  //24px
    margin-right: 1em;  //24px*/
  }
  .privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity{
    p, a{
      font-size: 0.875em;  //14px
    }
  }
  .personal_data{
    margin-bottom: 3.5em;  //56px
  }
  .hosting_text{
    margin-left: 1.5em;  //24px
  }
}

// TABLET
@media (min-width: 750px) and (max-width: 1199px){
  .privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity{
    p{
      margin-left: 1.714285714285714em;  //24px
      margin-right: 1.714285714285714em;  //24px
    }
  }
}


/*    DESKTOP    */
@media (min-width: 1200px){
  .privacy_title{
    margin-top: 2.8125em;  //180px
    font-size: 4em;  //64px
    margin-bottom: 0.375em;  //24px
  }
  .update{
    font-size: 1.5em;  //24px
    margin-bottom: 4em;  //64px
  }
  .identity__title, .hosting__title, .intellectual_property__title, .privacy_extern_links__title, .personal_data__title{
    font-size: 2em;  //32px
    margin: 1.25em auto 0.5em;  //40px auto 16px
  }
  .privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity{
    p, a{
      font-size: 1em;  //16px
    }
  }
  .personal_data{
    margin-bottom: 10em;  //160px
  }
}
