.privacy_title{
  font-weight:600;
  color:var(--dark-violet);
  text-align:center;
}
.update{
  text-align:center;
}
.identity__title, .hosting__title, .intellectual_property__title, .privacy_extern_links__title, .personal_data__title {
  font-weight: 600;
  max-width: 1200px;
  color: var(--dark-violet);
  margin: 40px auto 16px;

}
.privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;

  p, a {
    line-height: 170%;
  }
  .hosting_text p{
    display:inline-block;
    margin-right: 0;
    margin-left: 0;
  }
  .hosting_text{
    padding:0 0;
  }
  .hosting a{
    font-weight: 600;
    color:var(--dark-violet);
  }
}



/*    MOBILE & TABLET    */

@media (max-width: 1199px){
  .privacy_title{
    margin-top:130px;
    font-size:40px;
    margin-bottom: 24px;
  }
  .update{
    font-size: 24px;
  }
  .identity__title, .hosting__title, .intellectual_property__title, .privacy_extern_links__title, .personal_data__title{
    font-size: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity{
    p, a{
      font-size: 14px;
    }
  }
  .personal_data{
    margin-bottom: 56px;
  }
  .hosting_text{
    margin-left: 24px;
  }
}

// TABLET
@media (min-width: 750px) and (max-width: 1199px){
  .privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity{
    p{
    margin-left: 24px;
      margin-right: 24px;
    }
  }
}


/*    DESKTOP    */
@media (min-width: 1200px){
  .privacy_title{
    margin-top:180px;
    font-size:64px;
    margin-bottom: 24px;
  }
  .update{
    font-size: 24px;
    margin-bottom: 64px;
  }
  .identity__title, .hosting__title, .intellectual_property__title, .privacy_extern_links__title, .personal_data__title{
    font-size: 32px;
  }
  .privacy_extern_links, .personal_data, .intellectual_property, .hosting, .identity{
    p, a{
      font-size: 16px;
    }
  }
  .personal_data{
    margin-bottom: 160px;
  }
}
