/*MESSAGES DE VALIDATION */
textarea > .field__error {
  color: var(--white);
  margin-top: -40px;
  margin-bottom: 24px;
}

.field__error {
  color: var(--white);
  margin-top: -16px;
  margin-bottom: 24px;
}

.contact__success {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.contact__success p {
  margin-left: 16px;
}

.field__input::placeholder, #message::placeholder {
  color: var(--placeholder);
  font-weight: 400;
  font-family: Avenir, sans-serif;
  font-size: 14px;
}




//GENERAL

.contact {
  background-color: var(--light-blue);
  border-radius: 8px;
  padding: 32px 16px;
  box-shadow: 0 1px 7px var(--black); /*25% opacity*/
}

.btn {
  min-width: 100%;
  border: 1px solid var(--yellow-border);
  background-color: var(--light-yellow);
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 39px;
  font-size: 16px;
  font-weight: 600;
  font-family: Sulphur Point, sans-serif;
  margin-top: 50px;
}

h2.form_title.section_title {
  text-align: center;
}

.field__label {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
}

.field__input {
  padding: 14px 16px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 8px;
  margin-bottom: 24px;
  min-width: calc(100% - 32px);
}

#message {
  min-height: 100px;
  min-width: calc(100% - 32px);
  margin-bottom: 0;
}

.location_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
  font-family: "Sulphur Point", sans-serif;
}

.location_section p {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
  text-align: center;
}

.location_section {
  display: flex;
  align-items: center;
}

// MOBILE

@media (max-width: 749px) {
  .contact {
    margin-left: 16px;
    margin-right: 16px;
  }
}

// TABLET

@media (min-width: 750px) {
  .contact {
    max-width: 624px;
    margin-right: auto;
    margin-left: auto;
  }
}


// MOBILE & TABLET

@media (max-width: 1199px) {
  .contact {

    background-color: var(--light-blue);
    margin-top: 159px;
    margin-bottom: 90px;
  }
  h2.form_title.section_title {
    margin-bottom: 45px;
  }
  .location_section p:last-of-type {
    margin-bottom: 32px;
  }
  .location_section {
    flex-direction: column;

    img {
      margin-bottom: 90px;
      max-width: 100%;
      height: auto;
    }
  }
}


// DESKTOP

@media (min-width: 1200px) {
  .location_section {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    gap: 100px;
    margin-bottom: 120px;

    img {
      margin-bottom: 0;
      max-width: 680px;
      height: auto;
      text-align: center;

    }
  }
  .contact {
    margin-bottom: 120px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 206px;
  }
  h2.form_title {
    margin-bottom: 32px;
    font-size: 48px;
  }
}