/*    MOBILE    */
@media (max-width: 749px) {
  .donations_container {
    align-items: start;

    .qr_code {
      margin-left: auto;
      margin-right: auto;
    }

    .section_title {
      margin-right: auto;
      margin-left: auto;
    }
  }
}


/*    TABLET    */
@media (min-width: 750px) and (max-width: 1199px) {
  .donations_container {
    align-items: center;
  }
  .link_to_donation_contact.link {
    margin-left: 0;
    margin-right: 0;
  }
}


//    DESKTOP

@media (min-width: 1200px) {
  section.donations_container {
    margin-bottom: 0;
  }
  .donations_container {
    display: grid;
    grid-template-areas: ". title"
                          "qr subtitle"
                          "qr text"
                          ". info"
                          ". link";
    width: 100%;
    justify-content: center;
    grid-gap: 1em;  //16px
    align-items: center;

    .section_title {
      grid-area: title;
    }

    .donations_subtitle {
      grid-area: subtitle;
    }

    .donations_text {
      grid-area: text;
      max-width: 794px;
      font-size: 1.125em;  //18px
    }

    .donations_subline {
      grid-area: info;
    }

    .link_to_page {
      grid-area: link;
    }

    .qr_code {
      grid-area: qr;
    }

    .donations_text, .donations_subline, .link_to_page, .donations_subtitle, .section_title, .link_to_donation_contact.link_to_page.link {
      max-width: 794px;
      text-align: start;
    }
    .section_title{
      margin-left: 0.333333333333333em;  //16px
    }
    .donations_subline, .donations_subtitle,{
      margin-left: 0.666666666666667em;  //16px
    }
    .donations_text, .link_to_page,  .link_to_donation_contact.link_to_page.link {
      margin-left: 0.888888888888889em;  //16px
    }
    .donations_subtitle {
      margin-top: 0;
      margin-bottom: 0;
    }

    .donations_subline {
      margin-bottom: 0.333333333333333em;  //8px;
      margin-top: 0.666666666666667em;  //16px
      font-size: 1.5em;  //24px;
    }
  }
}