
  .family_question, .general_question{
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: Sulphur Point, sans-serif;
  }


.general_section_container, .family_section_container {
  margin-top: 90px;


  .link_to_page{
    margin-top: 56px;
    display: inline-block;
    text-align: center;

  }
}
