//    GENERAL
.news_section {
  background-color: var(--light-blue);
  padding: 5.625em 0;  //90px 0
}
.show_all_news{
  text-align: end;
}
.news__link{
  border-radius: 8px;
  &:hover,
  &:focus{
    transition: 1s;
    box-shadow: 20px 20px 0 var(--pink);
  }
}

.section_title, .single_news__title {
  font-family: "SulphurPoint", sans-serif;
  font-weight: 600;
}

/*    pagination pour page single news    */
.pagination {
  margin-top: 0.5em;  //8px
  display: flex;
  flex-direction: row;
  gap: 1em;  // 16px
  justify-content: center;
  font-weight: 600;
}
.news_page{
  background-color: var(--white);
}
.card_content_relative{
  max-height: 265px;
}

.date_of_single_news time {
  font-weight: 600;
  margin-bottom: 0.888888888888889em;  //16px
}


/* news cards */
.news {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__card {
    height: 265px;
    position: relative;
  }

  &__link {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;

  }
  .news__dates{
    position: absolute;
    z-index: 2;
  }

  .news__title {
    margin-left: 0.666666666666667em;  //16px
    position: absolute;
    bottom: 0.666666666666667em;  //16px
    font-size: 1.5em;  //24px
    z-index: 3;
    max-width: 60%;
    line-height: 1.375em;  //33px
  }

  .single_news_date time {
    position: absolute;
    padding: 0.75em 0.75em 0.5em;  //12px 12px 8px
    background-color: var(--pink);
    border-radius: 8px 0;
    left: 0;
  }

  .news__title, .single_news_date time {
    color: var(--white);
    font-weight: 600;
  }

  .news__fig img {
    box-sizing: border-box;
    width: 100%;
    height: 265px;
    object-fit: cover;
    border-radius: 8px;
  }

  /* border and gradient*/
  .news__fig::before {
    border-radius: 8px;
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    height: calc(100% - 12px);
    width: calc(100% - 8px);
    background: linear-gradient(var(--gradient) 40%, var(--black) 100%);
    position: absolute;
    border: 4px solid var(--pink);
  }

  /*    Round button    */
  .news_button_arrow, .news_button_circle {
    position: absolute;
  }
  .news_button_circle {
    bottom: 1em;  //16px
    right: 1em;  //16px
    z-index: 4;
  }
  .news_button_arrow {
    bottom: 1.875em;  //30px
    right: 1.875em;  //30px
    z-index: 5;
  }

  .single_news:first-of-type {
    margin-top: 2.5em;  //40px
  }
}

.card_content_relative, .news__fig{
  position: relative;
}





//    MOBILE
@media (max-width: 749px) {
  .news{
    flex-direction: column;
    gap: 2em;  //32px
    max-width: 343px;
    align-items: center;
  }
}


//    DESKTOP & TABLET
@media (min-width: 749px) {
  .news{
    flex-direction: row;
    gap: 2.5em;  //40px
    max-width: 1234px;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .news__card{
    max-width: 343px;
  }
  .news_section{
    margin-bottom: 7.5em;  //120px
  }
  .news_header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;  //24px
    padding-right: 1.5em;  //24px
    max-width: 1108px;
    justify-content: space-between;
    .section_title{
      margin-bottom: 0;
    }
    .link{
      margin-right: 0;
      margin-left: 0;
    }
    .section_title{
      margin-left: 0;
    }
  }
}



//    MOBILE & TABLET
@media (max-width: 1199px) {
  .donations_container .subtitle {
    margin-bottom: 0.666666666666667em;  //16px
  }
  .section_title, .single_news__title {
    margin-left: 0.666666666666667em;  //24px
    margin-right: 0.666666666666667em;  //24px
  }

  .section_title, .single_news__title {
    font-size: 2.25em;  //36px
    line-height: 1.277777777777778em;  //46px
  }
  .single_news_article {
    margin-top: 9.6875em;  //155px
    margin-bottom: 5.625em;  //90px
  }
  .single_news_article {
    display: flex;
    flex-direction: column;
  }
  .single_news__title {
    margin-bottom: 0.888888888888889em;  //32px
  }
  .single_news_main_content {
    display: flex;
    flex-direction: column;

    .single_news_image img {
      width: 100%;
      height: auto;
      max-width: 592px;
      border-radius: 8px;
    }

    .single_news_image {
      text-align: center;
    }
  }
  .date_of_single_news {
    margin-top: 2.5em;  //40px
  }


  .news{
    margin-top: 0;
  }
  .news_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section_title{
      margin-bottom: 0.888888888888889em;  //32px
    }
  }
}


//    TABLET

@media (min-width: 750px) and (max-width: 1199px) {
  .single_news_main_content {
    .text_content {
      padding-right: 1.5em;  //24px
      padding-left: 1.5em;  //24px
      max-width: 50em;
      margin-right: auto;
      margin-left: auto;
    }
  }
}


//  DESKTOP

@media (min-width: 1200px) {
  .section_title, .single_news__title {
    font-size: 3em;  //48px
    line-height: 1em;  //48px
    margin-left: 0.5em;  //24px
    margin-right: 0.5em;  //24px
  }
  .single_news__title {
    margin-bottom: 0.833333333333333em;  //40px
  }
  .single_news_article {
    margin-top: 12.875em;  //206px
    margin-bottom: 7.5em;  //120px
  }
  .single_news_main_content {
    display: flex;
    flex-direction: row;
    max-width: 1234px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 3em;  //48px
    .single_news_image img {
      width: 592px;
      height: auto;
      border-radius: 8px;
    }
  }
}