.news_section .h2{
  margin-top: 150px;
}
.single_news__title{
  margin-bottom: 32px;
}
.single_news_article img{
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.single_news_date{
  font-weight: 700;
  margin-bottom: 16px;
}