// GENERAL

/* introduction ressources */
.image_resources img {
  margin-top: 9.375em;  //150px
  width: 100%;
  height: auto;
}

.flex_container_first_section {
  display: flex;
}

.single_file {
  display: block;
  margin-top: 2em;  //32px
}


/* ressources téléchargeables  */
.download_resources_container {
  text-align: center;

  .resources_list {
    margin-left: 1.5em; //24px
    margin-right: 1.5em; //24px
    display: inline-block;
    text-align: left;
    li {
      margin-top: 0.75em;  //12px
      line-height: 1.75em;  //28px
    }
    li:first-of-type{
      margin-top: 0;
    }
  }
}

/*    animation resources_list  */
.resources_list a {
  &:hover,
  &:focus{
    transition: 0.5s;
    box-shadow: 0 4px 0 var(--pink);
  }
}



/*     MOBILE    */

@media (max-width: 749px) {
  .download_resources_container .section_title {
      margin-bottom: 0.888888888888889em;  //32px
    }
}

// TABLET
@media (min-width: 750px) {
  .introduction_resources p {
    line-height: 1.75em; //28px
  }
}

//MOBILE & TABLET
@media (max-width: 1199px) {
  .flex_container_first_section {
    flex-direction: column;
  }
  .image_resources img {
    width: 100%;
    height: auto;
    max-width: 550px;
  }
  .image_resources {
    margin-right: auto;
    margin-left: auto;
  }
  .introduction_resources p, .single_file {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em; //24px
    padding-right: 1.5em;  //24px
  }
  .single_file {
    text-align: center;
  }
  .download_resources_container{
    margin-top: 0;
  }
  .introduction_resources h2 {
    margin-bottom: 0.888888888888889em;  //32px
  }
}


//DESKTOP
@media (min-width: 1200px) {
  /* introduction ressources */
  .flex_container_first_section {
    margin-top: 12.875em;  //206px
    justify-content: center;
    padding-left: 1.5em; //24px
    padding-right: 1.5em; //24px
    flex-direction: row;
    gap: 3em; //48px
    align-items: center;
  }
  .image_resources img {
    width: 550px;
    height: auto;
    margin-top: 0;
  }
  .introduction_resources {
    max-width: 785px;
    margin-top: 0;
    margin-bottom: 0;

    .section_title {
      margin-left: 0;
      text-align: start;
      margin-bottom: 0.666666666666667em;  //32px;
    }
    p{
      font-size: 1.125em; //18px
    }
  }
  /* ressources téléchargeables  */
  .download_resources_container {
    margin-top: 7.5em;  //120px
    margin-bottom: 7.5em;  //120px
  }
}