.resources_list{
  margin-left: 24px;
  margin-right: 24px;
  li{
    margin-top: 12px;
    line-height: 28px;
  }
  li:first-of-type{
    margin-top: 32px;
  }
}
.introduction_resources h2{
  margin-bottom: 32px;
}


.image_resources img{
  margin-top: 150px;
  width: 100%;
  height: auto;
}